body{
   font-family: 'Poppins', sans-serif;
   margin: 0px;
    }
    h1{
        font-size:50px;

       
    }
    .orange-color{
        color:rgb(235, 161, 23);

    }
    .flexible-container{
        display: flex;
        margin-bottom:70px;
    }
    .half-width {
        width:50%;
        padding: 5%;
        text-align: justify;
        
    }
    .half-width img{

        width:80%;
        

    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,rgb(189, 49, 25));
        padding: 10px 60px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;

    }
    .dream-big{
        background-image: url(images/dream-bg.jpg);
        background-repeat: no-repeat;
        background-position:right;
        padding: 5%;
        text-align: justify;
    }
    .Experience-item{
        box-shadow:10px 10px 60px rgb(67, 90, 22);
        width: 40%;
        padding: 20px;
        text-align: justify;
        margin-left: 60px;
        margin-right: 10px;
        border-radius: 10px;
        
    }
    .experience-area{

        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        
        
    }
    #web-dev-exp{
        border-left: 7px solid;
        border-image: linear-gradient(#a7791f, #4d9f0c) 30;
        border-image-slice: 5%;

    }
    #web-dev-exp2{
        border-left: 7px solid;
        border-image: linear-gradient(#f6b73c, #435f2b) 30;
        border-image-slice: 5%;

    }
    footer p{
        text-align: center ;
    }
    